body{
  max-width: 100%;
}
#product-overview {
  background: url(images/star-wars-the-force-awakens-7t6s48g4atoa9t44.jpg);
  

  text-align: center;
  vertical-align: bottom;
  background-size: 100%;
  vertical-align: middle;
  height: 40vh;
  width: 100vw;
  background-size: 100% auto;
  background-position: center;
  margin-top: 5.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#product-overview h1 {
  color: rgb(253, 198, 166);
  font-family: "Anton", sans-serif;
  /* text-align: left; */
  /*  */
  /* vertical-align: middle; */
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.336);
  margin: 0;
  padding: 0.5rem 0.8rem;
  margin-top: 3rem;
  border-radius: 1rem;
  display: inline-block;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 70vh;
    background-position: 50% 20%;
  }

  #product-overview h1 {
    font-size: 3rem;
    bottom: 10%;
    text-align: center;
    padding: 0.4rem 0.5rem;
  }
}

#plans h1,
#plans h2,
#plans h3 {
  text-align: center;
  padding: 0.5rem;
}
#plans {
  background-color: #9a93ff4d;
  padding: 3rem 0rem;
}
.plans_list {
  width: 100%;

  
  text-align: center;
}



.plan {
  background-color: #7768ff91;
  text-align: center;
  
  width: 100%;
  padding: 1rem;
  margin: .5rem auto;
  vertical-align: middle;
  text-align: center;
  list-style: none;
}


.plan--highlighted {
  background-color: #5b50fdea;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}
.plan_annotation {
  vertical-align: middle;
  text-align: center;

  background-color: rgba(0, 255, 255, 0.527);
  border-radius: 5px;
  box-shadow: 2px 2px 11px 1.5px rgb(100, 221, 237);
}

.plan__features {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 0.3rem 0rem;
}

.plan_title {
  color: rgb(111, 0, 255);
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 20px;
}

.plan--highlighted .plan_title {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0.2rem;
  background-color: rgba(255, 222, 173, 0);
}

.plan_price {
  color: rgb(228, 226, 226);
}

.plan--highlighted .plan_price {
  color: rgb(253, 176, 176);
}

#key_features {
  padding: 7rem 1rem 9rem 1rem;

  background-color: rgba(25, 221, 221, 0.445);
}

#key_features > h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding: 0rem 0rem 5rem 0rem;
}

.key_feature {
  list-style: none;

  display: inline-block;
  width: 100%;
}

.key-feature__list {
  color: rgb(8, 17, 56);
  font-weight: bold;
  font-size: 22px;
  font-family: inherit;
  display: inherit;
  width: 33%;
  text-align: center;
  vertical-align: top;
}
.key-feature__img {
  padding: 2rem 2rem;
  margin-bottom: 1.77rem;
  height: 125px;
  width: 125px;
  background-color: #e2d5ff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: auto;
}

.key-feature__dis {
  margin-top: 1.37rem;
  font-family: inherit;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 30%;
  left: 35%;
  width: 40%;
  height: auto;
  font-size: 0.8rem;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}

.modal_title {
  text-align: center;
  margin-bottom: 1rem;
}

.modal_actions {
  text-align: center;
}

.modal_action {
  border: 3px solid #ffffff;
  background-color: #5433a1;
  text-decoration: none;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin: 0rem 0.3rem;
  color: white;
  font: inherit;
  cursor: pointer;
}

.modal_action:hover,
.modal_action:active {
  background-color: rgb(80, 177, 143);
}

.modal_action--negative {
  background-color: rgb(248, 70, 70);
}

.modal_action--negative:hover,
.modal_action--negative:active {
  background-color: rgb(201, 6, 6);
}
