* {
  margin: 0%;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: inherit;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}
.back-drop {
  /* width: 100%;
  height: 100%; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(143, 143, 143, 0.548);
  z-index: 4;
  position: fixed;
  display: none;
  top: 0%;
  left: 0%;
}
.toggle-button {
  width: 2rem;
  background: rgba(95, 158, 160, 0);
  border: 0;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.3rem 0;
}

.main-header {
  width: 100%;
  background-color: #11aa84d7;
  padding: 1rem 3rem;
  position: fixed;

  top: 0%;
  left: 0%;
  z-index: 1;
}
.main-nav__item {
  display: inline-block;
  padding: 0px 1.5rem;
  text-decoration: none;
  list-style: none;
}

.main-header > div {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(220, 232, 255);
  display: inline-block;
  height: 3rem;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: none;
  width: calc(100% - 99px);
  text-align: right;
}

.main-nav__items {
  margin: 0%;
  padding: 0%;
}

.main-nav__item a {
  text-decoration: none;
  vertical-align: middle;
  font-weight: 600;
  color: rgb(221, 233, 255);
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: rgb(1, 73, 70);
  border-bottom: 5px solid rgb(1, 73, 70);
}
.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background-color: rgb(255, 139, 6);
  padding: 7px 15px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border-radius: 10px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  padding: 7px 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 252, 105);
  border-bottom: none;
}

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
  }
}

#main-footer {
  background-color: black;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.main-footer__links {
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.main-footer__link {
  display: inherit;
  vertical-align: middle;
  padding: 0;
}
.main-footer__link a {
  text-decoration: none;
  color: white;
  padding: 0rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: rgb(165, 165, 165);
}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  background-color: rgb(39, 150, 150);
  width: 80%;
  height: 100vh;
}
/* 
.main-nav__items .mobile-nav {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  background-color: rgb(39, 150, 150);
  width: 80%;
  height: 100vh;
} */
.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  text-align: center;
  margin: 10% auto;
  vertical-align: middle;
}
.mobile-nav__item {
  margin: 1.5rem 0;
}

.mobile-nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.button {
  background-color: rgba(77, 20, 211, 0.747);
  border: 2px solid rgb(76, 0, 255);
  padding: 0.6rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 0.25rem;
  border-radius: 10px;
}

.button:hover,
.button:active {
  background-color: white;
  color: #4d14d3;
  box-shadow: 2px 2px 11px 2px #8f05ff73;
}

@media (min-width: 40rem) {
  #main-footer{
    display: block;
  }
}

